<mat-sidenav-container class="sidenav-container">
  <!-- Mobil menü -->
  <mat-sidenav #sidenav mode="over" class="mobile-sidenav mobile-only">
    <div class="mobile-nav">
      <a routerLink="/" (click)="sidenav.close()">Kezdőlap</a>
      <a routerLink="/store" (click)="sidenav.close()">Webáruház</a>
      <a routerLink="/about" (click)="sidenav.close()">Rólunk</a>
      <a routerLink="/contact" (click)="sidenav.close()">Kapcsolat</a>
      <a routerLink="/cart" (click)="sidenav.close()">Kosár</a>

      <ng-container *ngIf="user(); else loggedOutMobile">
        <a *ngIf="isAdmin()" routerLink="/admin" (click)="sidenav.close()">Admin</a>
        <a routerLink="/account" (click)="sidenav.close()">Fiókom</a>
        <a (click)="logout(); sidenav.close()">Kijelentkezés</a>
      </ng-container>

      <ng-template #loggedOutMobile>
        <a routerLink="/login" (click)="sidenav.close()">Bejelentkezés</a>
        <a routerLink="/register" (click)="sidenav.close()">Regisztráció</a>
      </ng-template>
    </div>
  </mat-sidenav>

  <!-- Fő tartalom -->
  <mat-sidenav-content>
    <mat-toolbar class="navbar">
      <div class="brand-container">Ricochet</div>
      <div class="spacer"></div>

      <!-- Asztali menüpontok -->
      <div class="nav-links desktop-only">
        <a routerLink="/">Kezdőlap</a>
        <a routerLink="/store">Webáruház</a>
        <a routerLink="/about">Rólunk</a>
        <a routerLink="/contact">Kapcsolat</a>
        <a routerLink="/cart" class="cart-link">
          <mat-icon matBadge="{{ cartCount }}" matBadgeColor="accent">shopping_cart</mat-icon>
        </a>

        <ng-container *ngIf="user(); else loggedOutDesktop">
          <a *ngIf="isAdmin()" routerLink="/admin">Admin</a>
          <a routerLink="/account">Fiókom</a>
          <a (click)="logout()">Kijelentkezés</a>
        </ng-container>

        <ng-template #loggedOutDesktop>
          <a routerLink="/login">Bejelentkezés</a>
          <a routerLink="/register">Regisztráció</a>
        </ng-template>
      </div>

      <!-- Menü ikon mobilra -->
      <button mat-icon-button (click)="sidenav.toggle()" class="mobile-only">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Az oldal tartalma -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
